<%= form_with(model: @user, local: true) do |form| %>
<div>
  <%=form.label :name %>
  <%=form.text_field :name %>
  <%=form.label :password %>
  <%=form.text_field :password %>
  <%=form.label :email %>
  <%=form.text_field :email %>
  <%=form.label :direccion %>
  <%=form.text_field :direccion %>
</div>
  <div>
    <%=form.submit %>
  </div>
<%end%>
