<div id="<%= dom_id producto %>">
  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= producto.precio %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= producto.cantidad %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= producto.color %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= producto.tipo %>
  </p>
  <p>
    <strong>IDusuario:</strong>
    <%= producto.IDusuario %>
  </p>

</div>
