<p style="color: green"><%= notice %></p>

<h1>Inicio sesions</h1>

<div id="inicio_sesions">
  <% @inicio_sesions.each do |inicio_sesion| %>
    <%= render inicio_sesion %>
    <p>
      <%= link_to "Show this inicio sesion", inicio_sesion %>
    </p>
  <% end %>
</div>

<%= link_to "Iniciar Sesion", new_inicio_sesion_path %>
<br/>
<br/>
<%= link_to "Página Principal", home_index_path %>
