<p style="color: green"><%= notice %></p>
<div class="Fondo">
<h1>Usuarios</h1>

<div id="usuarios">
  <% @usuarios.each do |usuario| %>
    <div class="Separar">
    <%= render usuario %>
    <p>
      <%= link_to "Show this usuario", usuario %>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "New usuario", new_usuario_path %>
<br/>
<br/>
<%= link_to "Página Principal", home_index_path %>
</div>