<!DOCTYPE html>
<html>
  <head>
    <title>P4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="Cabecera">
    <div class="Logo">
      <%= image_tag("logo1.jpeg", :alt => "foto logo") %>
    </div>

    <div class="Menu">
      <h1> SuitOwl </h1>
    </div>
  </div>
  <div class="user_header">
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Cerrar Sesion", logout_path %>
    <% else %>
      <%= link_to "Registrarse", usuarios_path %>
      <br>
      <%= link_to "Iniciar Sesion", login_path %>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, class: "alert alert-#{key}") do %>
      <p><%= value %></p>
    <% end %>
  <% end %>
  <%= yield %>
  </body>
</html>
